<% @articles.each do |article| %>

<div class="row">
  <img src="<%= article.avatar %>" class="col-md-6" style="width: 130px; height: 100px;" alt="">

  <div class="col-md-6">
    <h2><%= article.title %></h2>
    <p><%= article.text %></p>

    <%= link_to 'Show', article_path(article) %>

    <% if current_user == article.user %>
      <%= link_to 'Edit', edit_article_path(article) %>

      <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>
  </div>

</div>
  <hr/>
<% end %>
