<h2><%= @article.title %></h2>
<div class="row">
<img class="col-md-6" src="<%= @article.avatar %>" style="width: 430px; height: 400px;"alt="">


<p><%= @article.text %></p>


</div>
<i>Create <%= @article.author %> at <%= @article.created_at %></i>
	<hr/>



<h3>Comments</h3>
<% @article.comments.each do |comment| %>
<p><%= comment.body %></p>
<i>Said <%= comment.author %> at <%= comment.created_at %></i>
		<hr/>
<% end %>

<% if user_signed_in? %>
<h3>Add comments</h3>
<%= form_for([@article, @article.comments.build]) do |f| %>
<p> 
  <%= f.label :body %><br/>
  <%= f.text_area :body %>
</p>

<p> 
   <%= f.submit %>
</p>
<% end %>
<% else %>
<i>Please <%= link_to "sign in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> to leave comments.</i>
<% end %>
